.about i {
    font-size: 4rem;
    color: aliceblue;
}
.text-img {
    position: absolute;
    mix-blend-mode: multiply;
    top: 0;
    right: 643px;
    transform: rotate(34deg);
}
.text-img2 {
    position: absolute;
    bottom: 0;
    left: 643px;
    transform: rotate(-34deg);
}
.about ul {
    list-style: none;
    margin: 100px;
}

.about li {
    text-align: center;
}
.backgimg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.forefront-element {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
}

.base-element {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.background-element {
    -webkit-transform: translateZ(-999px) scale(2);
    transform: translateZ(-999px) scale(2);
    z-index: 3;
}


.about .info {
    color: aliceblue;
    text-align: center;
    margin: 300px 5px;
    font-size: 2rem;
}

.about .logo-r {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%,50px);
    /* margin-top: 250px; */
}

.about .logo-r path {
    /* fill: #215460; */
    stroke-width: 1;
    stroke: #61DBFB;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: animate-svg 10s linear infinite;
}

.about .logo-r circle {
    fill: #215460;
    /* animation: animate-svg 10s linear forwards; */
}

.clips {
    stroke: white;
}


@keyframes animate-svg {
    0% {
        stroke-dashoffset: 0;
        fill: #307789;
    }

    20% {
        stroke-dashoffset: 2000;
    }

    40% {
        stroke-dashoffset: 3000;
        fill: #2f7c8d;
    }

    60% {
        stroke-dashoffset: 4000;
    }

    100% {
        stroke-dashoffset: 6000;
        fill: #266475;
    }
}