.game-info {
    padding: 10px 25px;
}
.game-info .col {
    display: flex;
    gap: 50px;
}
.row {
    width: 50%;
}
.row img {
    width: 80%;
    border-top-right-radius: 50px;
}
.row h1 {
    color: aliceblue;
    margin-top: 50px;
}
.row h4 {
    margin: 10px ;
    color: gainsboro;
    background-color: rgb(128, 0, 0);
    width: fit-content;
    padding: 5px 7px;
    border-radius: 10px;
}
.row p {
    color: gray;
}
.row .window-logo {
    width: 25px;
    border-top-right-radius: 0;
    margin-top: 50px;
}
.row .flexbox {
    display: flex;
    gap: 10px;
}
.row button {
    padding: 5px 20px;
    margin-top: 50px;
    background: transparent;
    border: 1px solid red;
    color: aliceblue;
    border-radius: 10px;
}
.price {
    font-weight: bolder;
    font-size: larger;
    color: var(--dark);
}
.gameplay {
    margin: 10px 0;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
.gameplay::-webkit-scrollbar {
    height: 5px;
    background-color:  transparent;
}
.gameplay::-webkit-scrollbar-thumb {
    background-color: rgb(128, 0, 0);
}
.gameplay img {
    width: 400px;
}

.gameplay-s h2 {
    border-bottom: 1px solid gray;
    color: aliceblue;
    margin-top: 10px;
}
.shotsbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    margin: 30px;
    height: 20px;
    background: transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
}
.vdo {
    width: 50px;
}


.req {
    margin-top: 10px;
}
.req h2 , h3{
    color: aliceblue;
}
.req h2 {
    border-bottom: 1px solid gray;
}
.req .col-left {
    padding: 10px 20px;
    float: left;
}
.req .col-right {
    padding: 10px 20px;
}


@media screen and (max-width: 720px) {
    .game-info .col {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .game-info .row {
        width: 100%;
    }
    .row img {
        width: 100%;
    }

}