.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    padding: 10px 80px;
    margin-top: 30px;
}

.game-list .card {
    background-color: var(--dark);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}

.game-list .card:hover {
    background-color: var(--dark-h);
    box-shadow: rgba(168, 3, 3, 0.338) 0px 10px 50px;
}

.card h1 {
    font-size: 1rem;
    color: aliceblue;
    margin: 10px;
}

.card p {
    color: azure;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* max-width: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 56px; */

}

.card img {
    width: 85%;
}
h1 {
    color: aliceblue;
}

.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.paging button {
    padding: 0 10px;
    height: 20px;
}
a:visited {
    text-decoration: none;
}
.search-bar {
    margin-top: 5px;
    position: absolute;
    text-align: center;
    /* margin-left: 100px; */
    left: 25px;
}
.search-bar input {
    height: 25px;
    padding: 5px 10px;
    outline: none;
    width: 150px;
    border-radius: 10px;
}
.search-bar ul {
    color: aliceblue;
    text-align: center;
    list-style: none;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    gap: 0;
}
.search-bar ul li {
    padding: 10px 10px;
    text-align: center;
    margin: 0;
} 
.search-bar .list-item {
    color: #ffffff;
    text-decoration: none;
}
.category-bar {
    margin-top: 5px;
    position: absolute;
    right: 25px;
}
.category-bar select {
    font-size: .8rem;
    padding: 2px 5px;
}



@media screen and (max-width: 720px) {
   

  }