:root {
  --primary-clr: #850202;
  --dark:#212121;
  --dark-h:#393939;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: black;
}
nav {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav i {
  font-size: 1.5rem;
  color: aliceblue;
  margin: 0 5px;
}
nav .logo {
  color: aliceblue;
  display: flex;
  margin: 0 20px;
  align-items: center;
}
.logo span {
  color: var(--primary-clr);
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
ul li a{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
nav a:hover{
  /* border: 1px solid red; */
  /* padding: 5px 10px; */
  color: var(--primary-clr);
}
a:visited {
  color: inherit;
  text-decoration: inherit;
}
nav button {
  padding: 5px 20px;
  border: 1px solid var(--primary-clr);
  outline: none;
  background: transparent;
  color: aliceblue;
  text-decoration: none;
  /* border-top-left-radius: 25px; */
}
nav button:hover {
  border: 1px solid var(--primary-clr);
}

.cart{
  position: relative;
}
  .cart img {
    position: relative;
    font-size: 3.2rem;
  }
  .cart span {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    background-color: #000;
    color: wheat;
    border-radius: 50%;
    border: 1px solid var(--primary-clr);
    display: grid;
    place-items: center;
    top: -10%;
    left: 60%;
  }






.logger {
  display: flex;
  align-items: center;
}
.logger h5 {
  margin: 0 25px;
}

.txtbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 25px 50px;
  background-color: rgba(0, 0, 0, 0.457);
  color: aliceblue;
  border-bottom-left-radius: 25px;
}


.loader {
  position: relative;
  height: 100vh;
  width: 100%;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}