.fullview {
    background-color: rgba(0, 0, 0, 0.242);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%,-50%); */
}
.fullview img {
    width: 100%;
    margin-top: 50px;
}
.fullview .shots-btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    z-index: 15;
}
.shots-btn button {
    padding: 0 10px;
    margin: 5px 10px;
    height: 20px;
    background: transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
}